.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .delete-btn:hover {
    color: darkred;
    transform: scale(1.1);
  }
  